.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
    &__primary-heading {
    text-transform: uppercase;
     color: #fff;
    backface-visibility: hidden;
    margin-bottom: 6rem;
        
       
        
    &-main {
    font-size: 6rem;
    font-weight: 700;
    display: block;
    letter-spacing: 3.5rem;
    animation-name: moveToLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
        
         @include respond(phone) {
            letter-spacing: 1rem;
             font-size: 5rem;
             margin-top: 6rem;
             font-weight: 500;
        }
    
    }
    
    &-sub {
    
    font-size: 2rem;
    font-weight: 400;
    display: block;
    letter-spacing: 1.75rem;
    animation-name: moveToRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
        
        
         @include respond(phone) {
            letter-spacing: .5rem;
            font-size: inherit;
             font-weight: 300;
        }
    
    
    }
    

    
    }
    
    
}


.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-light-green, $color-dark-green);
    -webkit-background-clip:text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
    
    &:hover {
        transform: skewY(2deg);
        text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
    }
    
    @include respond(tab-port) {
        font-size: 3rem;
    }
    
    @include respond(phone) {
        font-size: 2.5rem;
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
    
}

.paragraph {
    font-size: $default-font-size;
    
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}


















